<footer class="site-footer">
	<div class="container site-footer__inner">
		<p>&copy; {new Date().getFullYear()} web site title</p>
	</div>
</footer>

<style>
	.site-footer {
		border-top: 1px solid var(--color-border);
        text-align: center;
	}

	.site-footer__inner {
		padding-block: var(--space-xl);
	}

	p {
		margin: 0;
		color: var(--color-text-muted);
		font-size: var(--text-sm);
	}
</style>