---
import Section from '../components/layout/Section.astro';
import Hero from '../components/content/Hero.astro';
import Highlights from '../components/content/Highlights.astro';
import Announcements from '../components/content/Announcements.astro';
import Layout from '../layouts/MainLayout.astro';
---

<Layout>
	<Section
		spacingTop="2xl"
		spacingBottom="2xl"
		width="wide"
		align="center"
		background="default"
		>
		<Hero
			title="title"
			subtitle="subtitle"
		/>
	</Section>

	<Section
		spacingTop="none"
		spacingBottom="none"
		width="wide"
		background="surface"
		borderTop
		borderBottom
		>
		<Highlights />
	</Section>

	<Section
		spacingTop="lg"
		spacingBottom="lg"
		width="wide"
		align="center"
		background="default"
		>
		<Announcements
			type="intro"
			title="title"
			message="message"
		/>
	</Section>
</Layout>