---
import '../styles/global.css';
import SiteHeader from '../components/layout/SiteHeader.astro';
import SiteFooter from '../components/layout/SiteFooter.astro';

interface Props {
	title?: string;
	description?: string;
}

const {
	title = 'INFINNIT',
	description = 'INFINNIT',
} = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="description" content={description} />

		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

		<title>{title}</title>
	</head>

	<body>
		<SiteHeader />
		<main>
			<slot />
		</main>
		<SiteFooter />
	</body>
</html>